.Wrapper {
    background-color: var(--bgSecondary);
    min-height: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 6em;
}

.Navbar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.Img {
    flex: 1;
}

.Navigation {
    flex: 4;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: large;
    font-weight: 500;
}

.Login {
    flex: 1;
    display: flex;
    justify-content: center;
}

