.Wrapper {
  display: flex;
  min-height: 330px;
  background-color: var(--bgSecondary);
  color: var(--text);
  margin-top: 3rem;
}

.Navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 2em;
  gap: 3rem;
  box-sizing: border-box;
}

.Section {
  text-align: center;
  max-width: 120px;
}

.SectionTitle {
  margin-bottom: 1rem;
  white-space: nowrap;
}

.LinkList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Link {
  font-size: 15px;
}

.ImgWrapper {
  display: none;
}

@media (min-width: 1120px) {
  .Navigation {
    flex-wrap: nowrap;
  }

  .SectionTitle {
    white-space: initial;
  }

  .Section {
    max-width: none;
  }

  .ImgWrapper {
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ImgWrapper img {
    height: 100%;
    object-fit: contain;
  }
}