.TableWrapper {
    width: 100%; 
    max-width: 1000px;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 12px;
    border-collapse: collapse;
    overflow: hidden;
}

.TableWrapper th,
.TableWrapper td {
    padding: 1rem 1.3rem;
    text-align: left;
    border-bottom: 1px solid var(--bg);
}

.TableWrapper th {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.RowWrapper {
    background-color: var(--bgSecondary);
}

.RowWrapper:hover {
    background-color: rgb(119, 221, 117);
}

.TableWrapper tbody tr:last-child td {
    border-bottom: none;
}

.Button {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    background-color: transparent;
    color: var(--text);
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Edit {
    border: 2px solid var(--text);
    background-color: transparent;
    color: var(--text);
    margin-right: 0.4rem;
}

.Delete {
    border: 2px solid var(--text);
    background-color: red;
    color: var(--text);
}

.Edit:hover {
    background-color: var(--text);
    color: var(--textSecondary);
    transform: translate(-2px);
}

.Delete:hover {
    background-color: var(--text);
    color: red;
    transform: translate(-2px);
}

@media (max-width: 768px) {
    .TableWrapper thead {
        display: none;
    }

    .TableWrapper tr {
        display: block;
        margin-bottom: 1.5rem;
        border: 1px solid var(--text);
        border-radius: 8px;
        padding: 1em;
    }

    .TableWrapper td {
        display: block;
        text-align: right; 
        border-bottom: 1px dotted var(--text); 
        padding-left: 50%; 
        position: relative;
    }

    .TableWrapper td:last-child {
        border-bottom: none; 
    }

    .TableWrapper td::before {
        content: attr(data-label);
        
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        
        font-weight: bold;
        text-align: left;
    }

    .ButtonWrapper {
        width: inherit;
    }
}