@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg: #ffffff;
    --bgSecondary: #42B74E;
    --text: white;
    --textSecondary: #333539;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

a {
  font-family: "Raleway", sans-serif;
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

p { 
  color: var(--text);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

h1 {
  color: var(--text);
}

h2{
  color: var(--text);
  font-family: "Raleway", sans-serif;
  font-size: 35px;
}

h3 {
 color: var(--text);
}

